/**
 * ==== VARIABLES ====
 */

// Variables : Paddings
$eg-cell-padding-y:         6px !default;
$eg-cell-padding-x:         12px !default;

// Variables : Inputs
$eg-input-padding-x:        4px !default;
$eg-input-padding-y:        2px !default;
$eg-input-offset-x:         8px !default;
$eg-input-offset-y:         8px !default;
$eg-input-max-width:        300px !default;

// Variables : Grays
$eg-gray:                   #cccccc !default;
$eg-gray-light:             lighten($eg-gray, 2.5%) !default;
$eg-gray-lighter:           lighten($eg-gray, 12.5%) !default;
$eg-gray-dark:              darken($eg-gray, .5%) !default;
$eg-gray-darker:            darken($eg-gray, 25%) !default;

// Variables : Colors
$eg-color-danger:           darkred !default;
$eg-panel-bg-color:         whitesmoke !default;
$eg-panel-border-color:     $eg-panel-bg-color !default;
$eg-content-bg-color:       white;

// Variables : Tables
$eg-table-border-width:     1px !default;
$eg-table-border-color:     $eg-gray-lighter !default;

// Nevim jeste
$eg-date-btn-size:          24px !default;

// settings
$eg-fixed-height:           100% !default; // 'false' | value
$eg-fade-overflow:          35px !default; // 'false'

//nevim

.sortable-href { margin-right: $eg-input-offset-x; }


/**
 * ==== GRID ====
 * basic styles for grid layout
 */
.table-container {
  @if $eg-fixed-height != false {
    height: $eg-fixed-height;
  }
  position: relative;
  border: 1px solid $eg-gray-lighter;
}

.grid {

  &-table { display: table; width: 100%;
    &-footer { display: table-footer-group; width: 100%; }
    &-body { display: table-row-group; width: 100%; }
    &-col { display: table-column;
      &group { display: table-column-group; }
    }
    form {
      .grid-cell:not(:last-of-type) { padding: 0; }
      .grid-cell {
        .form-control { border: none; background-color: transparent; }
        textarea { min-height: 35px; }
      }
    }
  }

  &-row { display: table-row; }

  &-cell { position: relative; display: table-cell; vertical-align: middle; padding: $eg-cell-padding-y $eg-cell-padding-x; border-top: $eg-table-border-width solid $eg-table-border-color; max-width: $eg-input-max-width;
    &--fit { width: 1% }
    @if $eg-fade-overflow != false {
      &:nth-last-child(2) { padding-right: $eg-fade-overflow; }
    }
    &-actions { position: sticky; right: 0; width: 1px; background-color: $eg-panel-bg-color; border-left: 1px $eg-gray-lighter solid;
      @if $eg-fade-overflow != false {
        &:after { content: ''; position: absolute; left: #{($eg-fade-overflow + 1px) * -1}; width: $eg-fade-overflow; height: 100%; font-size: 0; background-image: linear-gradient(to right, rgba($eg-content-bg-color, 0), $eg-content-bg-color 75%); }
      }
    }
  }

  &-header { display: table-header-group; width: 100%;
    &-row {
      &:first-of-type, &:nth-of-type(2) {
        @if $eg-fade-overflow != false { .cell-actions:after { background-image: linear-gradient(to right, rgba($eg-panel-bg-color, 0), $eg-panel-bg-color 75%); } }
      }
      &:first-of-type .grid-cell { top: 0; }
    }
    &-cell { position: sticky; background-color: $eg-panel-bg-color; white-space: nowrap; z-index: 1; border-top: 0px; }
  }

  &-search {
    &-row {
      background-color: $eg-gray-lighter;
      input:not([type=submit]):not([type=button]), select, .chosen-choices { margin-bottom: $eg-input-offset-y; margin-left: $eg-input-offset-x;
        height: 20px; width: calc(100% - #{$eg-input-offset-x*2}); min-width: 40px; font-size: 12px;
        border: none; border-radius: 0;
        background: $eg-gray-lighter; color: $eg-gray-darker; padding: $eg-input-padding-x $eg-input-padding-y; transition: .6s;
        @include placeholder { color: $eg-gray; }
        &:focus, &:hover { background-color: darken($eg-gray-lighter, 2.5%); }
        .choices__inner { min-height: 0; padding: 0; border: none;
          .choices__input { margin: 0; }
        }
        .chosen-choices { padding: 0; min-height: 24px; line-height: 0; }
      }
    }
    &-radio { position: relative; text-align: center; font-size: 12px;
      label { position: relative; margin: 0; z-index: 2; }
      label:first-of-type { width: 100%; position: absolute; opacity: 0; }
      input:not(:first-of-type):checked + label { z-index: 0; }
      input:not(:checked) + label { filter: grayscale(100%); }
    }
    &-cell { padding: 0; border-top-color: $eg-panel-bg-color; top: 34px;
      &:not(:last-of-type) { border-left-color: $eg-panel-bg-color; }
    }
    &-date-to { top: 35%; right: 5px; transform: translateY(-50%); background-color: $eg-gray-light; padding: 4px; border-radius: 50%; opacity: 0.5; height: $eg-date-btn-size; width: $eg-date-btn-size; font-size: $eg-date-btn-size/2; text-align: center; transition: .4s;
      &:hover { opacity: 1; }
    }
    select option:first-child { color: $eg-gray; }
  }

}


// @TODO: DOLE UZ JEN STARE STYLY

/**
 * ==== SEARCH ====
 * common styles for search row of grid
 */
.search {
  &-row {

    /* chosen.js */
    .chosen-container-multi .chosen-choices li.search-choice {
      height: auto;
      padding: 4px;
      font-size: 10px;
      line-height: 1;
      border: none;
      a {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: $eg-color-danger;
        transition: .4s;
        &:after {
          content: '×';
          font-size: 14px;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
          position: absolute;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}


/*
 * ======== TABLE TREE =========
 * - for rows with children
 */

$tree-offset: 16px;
$treeBtn-size: 14px;
$treeBtn-size-empty: 8px;
$treeColor-lighten: 12.5%;

.table-tree {

  .btn-tree {
    border-radius: 50%;
    width: $treeBtn-size;
    height: $treeBtn-size;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    border: 0;
    &:after {
      content: '';
      position: absolute;
      width: 27px;
      height: 1px;
      top: 6px;
      right: 0;
    }
    &:empty {
      width: $treeBtn-size-empty;
      height: $treeBtn-size-empty;
      left: 10px;
    }
    i {
      font-size: 10px;
      line-height: 0;
      position: absolute;
      z-index: 100;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    svg {
      position: absolute;
      width: 10px;
      height: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .tree-list {
    height: 0;
    &-line-y {
      width: 1px;
      height: 100%;
      background: #2f87cc;
      position: absolute;
      left: 12px;
      top: -50%;
      &.line-y-2 {
        background: lighten($primary,$treeColor-lighten);
        left: 32px;
      }
      &.line-y-3 {
        background: lighten($primary,$treeColor-lighten*2);
        left: 52px;
      }
    }
  }

  .thead{
    .tr{
      .td ,.th{
        z-index: 1;
        white-space: nowrap;
        position: sticky;
        background-color: $eg-panel-bg-color;
        .sortable-href {
          position: absolute;
          right: 0;
          margin-right: $eg-input-offset-x/2;
        }
      }
      &:first-of-type {
        .td,.th {
          top: 0;
        }
      }
      &:nth-of-type(2) {
        .td ,.th{
          top: 34px;
        }
      }
      &:last-of-type {
        .td ,.th{
          border-bottom: 1px #ccc solid;
        }
      }
    }
  }
  .tr {
    @for $i from 1 through 4 {
      &.depth-#{$i} {
        .td:first-child {
          padding-left: ($tree-offset*2) + ( $i * 20 ) !important;
          .btn-tree {
            //left: (12px + $treeBtn-size) + ($tree-offset * ( $i - 1 )) + ( ($i - 1) * 2); //*  ($tree-offset * ( $i - 1.5 ));
            left: (12px + $treeBtn-size) + ($tree-offset * ( $i - 1 ))  + ( ($i - 1) * 3);
            background: lighten($primary, $i * $treeColor-lighten);
            &:empty {
              width: $treeBtn-size-empty;
              height: $treeBtn-size-empty;
              left: ($tree-offset * ($i + 1))  - ($treeBtn-size-empty/2) + ($treeBtn-size-empty * ($i * 0.25));
            }
            &:after {
              background: lighten($primary, $i * $treeColor-lighten);
            }
          }
        }
      }
    }

    .chosen{
      .choices__item{
        padding: 1px 10px;
        border-radius: 0;
      }
    }

    .td ,.th{
      position: relative;
      padding: 6px 12px;

      &:first-child {
        padding-left: 32px !important;
        //background-image: url(icons/icon-parent.svg);
        background-repeat: no-repeat;
        background-size: 24px;
        background-position-y: 50%;
      }

    }
    .cell-actions{
      position: sticky;
      width: 1px;
      right: 0;
      background-color: white;
      border-left: 1px #ccc solid;
    }
  }

}
.dropdown-checkbox-list{
  input:checked + .dropdown-item{
    background-color: $primary;
  }
}