imageLinkProvider: @grid.imageLinkProvider
defaults:
	formatter: @grid.formatter
	imageLinkProvider: @grid.imageLinkProvider
options:
	bootstrap: 4
actions:
	reload:
		title: //entityGrid.reload
		icon: fa fa-sync text-info
		class: [btn,btn-light,ml-2,ajax]
		callback: handleReload
	link:
		ajax: false
		icon: fas fa-link
		attrs: [target: _blank]
		class: [btn,btn-sm,text-success]
		title: link
		link: [:Front:Entity:detail,[url]]
		"off": []
	create:
		class: [btn,btn-light,text-muted]
		link: :add
		icon: fa fa-plus text-success
		"off": []
		label: create
		title: create
	edit:
		icon: fa fa-edit
		class: [btn,btn-sm,text-muted]
		title: edit-in-row
	groupEdit:
		icon: fa fa-edit
		class: [btn,btn-light,text-muted]
		title: group-edit
	delete:
		icon: fa fa-trash
		class: [btn,btn-sm,text-danger]
		title: delete
		confirm: //forms.confirm.delete
	groupDelete:
		icon: fa fa-trash
		class: [btn,btn-light,text-danger]
		title: delete
		confirm: group-delete
	detail:
		icon: fas fa-pen
		class: [btn,btn-sm,text-primary]
		title: detail
		link: [:detail,[id]]
		"off": []
inputs:
	checkbox: addRadioList
	like: addText
	match: addText
	regexp: addText
	text: addText
	article: addTextArea
	datetime: addDateTime
	date: addDate
	time: addTime
	ajaxselect: addAjaxSelectBox
	select: addMultiselect
	int: addInteger
	range:
		- addInteger
		- addInteger
	datetimerange:
		- addDateTimeOptional
		- addDateTimeOptional
	daterange:
		- addDate
		- addDate
	timerange:
		- addTime
		- addTime
search: null
