{import ../@components.latte}
<section data-control="{$ctrlId}" class="table-responsive" n:snippet="control" class="grid">
    <div class="grid-header d-flex">
        <div class="grid-title " n:if="$title">
            <h2>{$title}</h2>
        </div>
        <div n:snippet=controls class="clearfix grid-actions ml-auto btn-group">
            <a href="{plink add}" class="btn btn-light no-radius text-muted ml-1">
                <i class="fas fa-plus mr-1"></i>{_"entityGrid.add-item"}
            </a>
            {include #hide}
        </div>
    </div>
    <div class="table-container table-responsive mb-1  border border-top-0">
        <div class="grid-table  border-bottom table-tree table-striped table-sm" n:snippet="grid">
            <div class="grid-table-header" n:snippet=header>
                <div class="grid-row">
                    <div class="grid-cell">
                    </div>
                    <div n:foreach="$columns as $key => $column" n:if="!$column->isHidden()" n:class="$column->type == 'int' ? fit, grid-cell,text-nowrap,pr-3">
                        <span class="text-truncate">{_$column->getLabel()}</span>
                        {include sortable $column}
                        {*<a n:href="HideCol!, $column->getName(),!$column->isHidden()" class="ajax text-muted"><i
                                    class="fas fa-eye{$column->isHidden()?'':'-slash'}"></i></a>*}
                    </div>
                    <div class="grid-cell text-right cell-actions">
                           <span> {_"entityGrid.actions"}</span>
                    </div>
                </div>

                {* ---- HEADER:SEARCH ---- *}
                {control search}

            </div>
            <div class="grid-table-body" n:snippet="items" {if $grid->isSortable()}data-sortable="{$control->link('Sort!')}"  data-control="{$ctrlId}"{/if}>
                {foreach $control->getItems() as $id => $row}
                    {control row-$id}
                {/foreach}
            </div>
        </div>

    </div>
    <div n:snippet="paginator">
        {include perpage}
        {control paginator}
    </div>
</section>
