actions: Akce
visible: Zobrazené
hidden: Skryté
add-item: Přidat položku
show-n-hide-cols: Zobrazit/Skrýt sloupce
switch-value: Určitě přepnout hodnotu sloupečku '%col%' položky '%id%#'?
search: Hledat
no-results: Žádné výsledky
select: Zvolte
resultCount: Počet výsledků
refresh: Obnovit
selection:
    selectAll: Zvolit vše
    exclude: Mód excluze/include
    shown: Je zobrazena současná selekce položek
    selected: 'Hromadný výběr:'
btn:
    import: Importovat
    create: Přidat položku
    delete: Odstranit
    edit-in-row: Upravit v řádku
    detail: Zobrazit detail
    link: Odkaz
    synchronize: Synchronizovat
input:
    date:
        from-to: Zadat datum OD a DO